  <p-menubar [model]="items" >

  <div class="d-flex align-items-center justify-content-center">

    <button class="p-button-success p-button-sm" type="button" pButton label="Log in" style="margin-left:.25em"></button>
    <button class="p-button-danger p-button-sm" type="button" pButton label="Sign up" style="margin-left:.25em"></button>
    <i class="pi pi-shopping-cart m-lg-3" pBadge  value="2"  severity="warning" style="font-size: 2rem"></i>
  </div>

</p-menubar>
<div class="container">
  <xng-breadcrumb></xng-breadcrumb>
  <h1>{{breadcrumbs$}}</h1>
    </div>
